<!DOCTYPE html>
<html>
	<head>
  	<title><%= full_title(yield(:title)) %></title>
  	<%= render 'layouts/resources' %>
	</head>
	<body>
		<%= render "layouts/navbar" %>
		<div class="container">
			<div class='row'>
				<div class='span12'>
					<%= render "layouts/error_messages" %>
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>